

    <mat-horizontal-stepper #linearVerticalStepper="matHorizontalStepper" [linear]="!isNonLinear">

      <mat-step [stepControl]="formGroup">
        <form [formGroup]="formGroup">
        <ng-template matStepLabel>Experience with animals</ng-template>
        <h4> Is it this your first dog?</h4>
        <mat-radio-group  formControlName="dogs">
          <mat-radio-button class="quiz-radio-button" *ngFor="let shortResponse of shortResponses" [value]="shortResponse">
            {{shortResponse}}
          </mat-radio-button>

        </mat-radio-group>
        <br>
        <h4> Do you live with animals? (ie. reptiles, acquatic animals, cats)</h4>
        <mat-radio-group  formControlName="animals">
            <mat-radio-button *ngFor="let shortResponse of shortResponses" [value]="shortResponse" >
              {{shortResponse}}
            </mat-radio-button>
          </mat-radio-group>
      <div>
          <button mat-button matStepperNext type="button">Next</button>
        </div>

        </form>
      </mat-step>
    <mat-step [stepControl]="formGroup2">
      <form [formGroup]="formGroup2">
      <ng-template matStepLabel>Living Environment</ng-template>
        <h4> Do you have young minors living with you?</h4>
        <mat-radio-group  formControlName="kids">
          <mat-radio-button  *ngFor="let shortResponse of shortResponses" [value]="shortResponse">
            {{shortResponse}}
          </mat-radio-button>
        </mat-radio-group>
        <br>
       <h4> What is your living situation?</h4>
        <mat-radio-group  formControlName="living">
          <mat-radio-button class="quiz-radio-button" *ngFor="let livingCondition of livingConditions" [value]="livingCondition">
            {{livingCondition}}
          </mat-radio-button>
        </mat-radio-group>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="formGroup3">
        <form [formGroup]="formGroup3">
        <ng-template matStepLabel>Your needs</ng-template>
          <h4> Will you be willing to take care of a special need of dog?</h4>
          <mat-radio-group  formControlName="care">
            <mat-radio-button  *ngFor="let shortResponse of shortResponses" [value]="shortResponse">
              {{shortResponse}}
            </mat-radio-button>
          </mat-radio-group>
          <br>
         <h4> How appealing is it to you to adopt a dog who presents a bit of challenge?</h4>
          <mat-radio-group  formControlName="special">
            <mat-radio-button class="quiz-radio-button" *ngFor="let challenge of challenges" [value]="challenges">
              {{challenge}}
            </mat-radio-button>
          </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
          </form>
        </mat-step>
    </mat-horizontal-stepper>




