<header>
  <div class="topnav">
    <img src='/assets/images/WagMatchLogoSmall.jpg'>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
           <button mat-menu-item>
        <a href="/login">Login</a>
      </button>
      <button mat-menu-item>
        <a href="/contact">Contact</a>
      </button>
      <button mat-menu-item>
        <a href="/home">Home</a>
      </button>
    </mat-menu>

  </div>

</header>

<div class="upper-container">
  <h1 class="cover-heading">Our Story </h1>
  <p class="lead"> We started Wag Match in 2017 to help returned shelter dogs in finding their mates. During St.Louis Puria
    Hackerton, we realized that there is a high return rate of adopted dogs from animal shelters in St. Louis area. To us, this is
    a heartbreaking news. With this application, we match prospects with shelter dogs using scentific compatibility assessements to reduce age and breed bias.</p>
    <h1 class="cover-heading">Meet Our Team </h1>
    <img src="/assets/images/pethackgroup.jpg">
</div>

<footer class="container">
  <p class="float-right"><a href="/about">Back to top</a></p>
  <p>&copy; 2017-2018 WagMate. &middot; <a href="#">Privacy & Term </a>
</footer>
