

header {
  height: 60px;
	background: #fff;
	position: fixed;
	width: 100%;
  z-index: 10;
 }

 .topnav img {
  float: left;
  height: 50px;
 }



 .topnav {
  background-color: #fff;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #006df0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(65, 50, 50, 0.5);
}

.img {
  width: 500px;
  height: 500px;
}

.upper-container {
 padding-top: 15%;
 padding-bottom: 30%;
}

.upper-container h1 {
  text-align: center;
  color: #006df0;
  font-family: PT Sans Narrow;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: uppercase;
  }


.upper-container p {
  font-family: PT Serif Regular;
  font-size: 1em;
  color: #323232;
  line-height: 2em;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5%;
  padding-bottom: 10%;
}


.upper-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;

}

