<header>
  <div class="topnav">
    <img src='/assets/images/WagMatchLogoSmall.jpg'>
    <!-- <button mat-stroked-button (click)="login()">Login</button> -->
    <a href="/about">Our Story</a>
   <a href="/contact">Contact</a>
<a href="/login">Login</a>
  </div>

</header>

<div class="upper-container">
  <h1 class="cover-heading">Our Story </h1>
  <p class="lead"> We started Wag Match in 2017 to help returned shelter dogs to find their mates. During St.Louis Puria
    Hackerton, we realized that the return rate of adopted dogs from animal shelters in St. Louis area is high. To us, this is
    a heartbreaking news. With this application, we enable shelter administrators to find a potential owner for their
    dogs using scientific method.</p>
    <h1 class="cover-heading">Meet Our Team </h1>
  <p class="lead"> We met during Hackerton </p>
  <img src="/assets/images/PetHack.jpg">
</div>

<footer class="container">
  <p class="float-right"><a href="/home">Back to top</a></p>
  <p>&copy; 2017-2018 WagMate. &middot; <a href="#">Privacy & Term </a>
</footer>
