
<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form-1">
          <h3>Wag Seeker</h3>
          <form [formGroup]="firstLogin">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username *" value="" >
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                    <button mat-button (click)="dashboard()">Login</button>
              </div>
              <div class="form-group">
                  <a href="#" class="ForgetPwd">Forget Password?</a>
              </div>
            </form>
      </div>
      <div class="col-md-6 login-form-2">
        <div class="login-logo">
            <a href="/home">
            <img src="/assets/images/pawlogo.jpg" alt=""/>
            </a>
        </div>

                <h3>Shelter</h3>
          <form [formGroup]="secondLogin">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username *" value="" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                  <input type="submit" class="btnSubmit" value="Login" />
              </div>
              <div class="form-group">

                  <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
              </div>
          </form>
      </div>
  </div>
</div>
