
<div class="container login-container">
  <div class="row">
      <div class="col-md-6 login-form-1">
          <h3>Wag Seeker</h3>
          <form [formGroup]="firstLogin">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username *" value="" >
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                <div class="seeker">
                    <button mat-button (click)="dashboard()">Login</button>
              </div>
            </div>
              <div class="form-group">
                  <a href="#" class="ForgetPwd">Forget Password?</a>
              </div>
            </form>
      </div>
      <div class="col-md-6 login-form-2">
        <div class="login-logo">
            <a href="/home">
            <img src="/assets/images/pawlogo.jpg" alt=""/>
            </a>
        </div>

                <h3>Shelter</h3>
          <form [formGroup]="secondLogin">
              <div class="form-group">
                  <input type="text" class="form-control" placeholder="Username *" value="" />
              </div>
              <div class="form-group">
                  <input type="password" class="form-control" placeholder="Password *" value="" />
              </div>
              <div class="form-group">
                <div class = "admin">
                <button mat-button>Login</button>
              </div>
            </div>
              <div class="form-group">

                  <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
              </div>
          </form>
      </div>
  </div>
</div>
<footer class="container">
  <p class="float-right"><a href="/login">Back to top</a></p>
  <p>&copy; 2017-2018 WagMate. &middot; <a href="#">Privacy & Term </a>
</footer>
