
<header>
  <div class="topnav">
    <img src='/assets/images/WagMatchLogoSmall.jpg'>
    <!-- <button mat-stroked-button (click)="login()">Login</button> -->
    <a href="/about">Our Story</a>
   <a href="/contact">Contact</a>
<a href="/login">Login</a>
  </div>

</header>

<div class="banner">
  <div class="banner-text">
    <h1 class="display-4">Questions or Comments? Contact us below</h1>
  </div>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [markerDraggable]="m.draggable"
      >

    <agm-info-window>
      <strong>St. Louis</strong>
    </agm-info-window>

  </agm-marker>

  <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="false"
      [editable]="false">
  </agm-circle>

</agm-map>
