@import url('//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css');

header {
  height: 60px;
	background: #fff;
	position: fixed;
	width: 100%;
  z-index: 10;
 }

 .topnav img {
  float: left;
  height: 50px;
 }

 .topnav button {
  float: right;
  background: #006df0;
}

.topnav mat-icon {
  color: #fff;
}

 .topnav {
  background-color: #fff;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #006df0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.color h2 {
  color: #006df0;
}

agm-map {

  width: 100%;
  height: 450px;
}

#contact{
  padding-top: 5%;
  background-color: #fff;
  letter-spacing: 2px;
  }

 .form-group > *{
  width: 90%;
}

.submit button {
  background-color: #006df0;
  color: #fff;
  width: 20%;
}


