<header>
    <div class="topnav">
      <img src='/assets/images/WagMatchLogoSmall.jpg'>
      <!-- <button mat-stroked-button (click)="login()">Login</button> -->
      <a href="/about">Our Story</a>
      <a href="/contact">Contact</a>
      <a href="/login">Logout</a>
    </div>

  </header>
  <main role="main">
  <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Best & Show </h1>
      </div>
    </section>
    <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                <mat-card class="dog-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Rocky</mat-card-title>
                      <mat-card-subtitle>German Shepherd, Adult, Male</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="/assets/images/rocky.jpg" alt="Photo of a german shepherd">
                    <mat-card-content>
                     <p>CHARACTERISTICS:loyal, quirky, energetic</p>
                     <P>HOUSE-TRAINED: Yes</P>
                     <p>HEALTH: Vaccinations up to date, neutered.</p>
                     <p>PREFERS A HOME WITHOUT: Children, cats</p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                    </mat-card-actions>
                  </mat-card>
            </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                      <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                  <mat-card class="dog-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Zorro</mat-card-title>
                        <mat-card-subtitle>Shiba Inu, Adult, Male</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="/assets/images/zorro.jpg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                       <p>CHARACTERISTICS:Loving, good with dogs, cuddle buddy</p>
                       <P>HOUSE-TRAINED: Yes</P>
                       <p>HEALTH: Vaccinations up to date, neutered.</p>
                       <p>GOOD IN A HOME WITH: Children, other dogs</p>
                      </mat-card-content>
                      <mat-card-actions>
                        <button mat-button>MEET</button>
                        <button mat-button>SPONSOR</button>
                      </mat-card-actions>
                    </mat-card>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
