

header {
  height: 60px;
	background: #fff;
	position: fixed;
	width: 100%;
  z-index: 10;
 }

 .topnav img {
  float: left;
  height: 50px;
 }

 .topnav {
  background-color: #fff;
  overflow: hidden;
}

.topnav a {
  float: right;
  color: #006df0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

section {
  background: #006df0;
}

section h1 {
  margin-top: 5%;
  color: #fff;
}

.registration button {
  background: #FF7400;
  width: 16%;
  color: #fff;
}
.row {
  display: flex;
}


.example-header-image1 {
  background-image: url('/assets/images/rocky2.jpg');
  background-size: cover;
}

.example-header-image2 {
  background-image: url('/assets/images/zorro2.jpg');
  background-size: cover;
}

.example-header-image3 {
  background-image: url('/assets/images/nana2.jpg');
  background-size: cover;
}
.example-header-image4 {
  background-image: url('/assets/images/bella2.jpg');
  background-size: cover;
}
.example-header-image5 {
  background-image: url('/assets/images/lola2.jpg');
  background-size: cover;
}

.example-header-image6 {
  background-image: url('/assets/images/apollo2.jpg');
  background-size: cover;
}
.example-header-image7 {
  background-image: url('/assets/images/luna2.jpg');
  background-size: cover;
}
.example-header-image8 {
  background-image: url('/assets/images/simba2.jpg');
  background-size: cover;
}
.example-header-image9 {
  background-image: url('/assets/images/callie2.jpg');
  background-size: cover;
}
