<header>
  <div class="topnav">
    <img src='/assets/images/WagMatchLogoSmall.jpg'>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a href="/login">Login</a>
      </button>
      <button mat-menu-item>
        <a href="/contact">Contact</a>
      </button>
      <button mat-menu-item>
        <a href="/about">Our Story</a>
      </button>
    </mat-menu>

  </div>

</header>

<div class="banner">
  <div class="banner-text">
    <h2> Rediscover Matching</h2>
    <h4> Make authentic adoption with WagMatch</h4>
    <button mat-button (click)="join()">Find Your Wag Mate</button>
  </div>
</div>

<div class="container marketing">
  <div class="container">
   <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/images/binary-code.svg" alt="data-driven" width="150" height="150">
      <h2>Data-Driven</h2>
      <p>Receive mataches handpicked by algorithm which based on key areas of compatibility found in successful adoptions.</p>
          </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/images/smartphone.svg" alt="shelther" width="150" height="150">
      <h2>Authentic</h2>
      <p> Make genuine connections through socialization with pontiental wagmate </p>
    </div>
    <div class="col-lg-4">
      <img class="rounded-circle" src="/assets/images/home.svg" alt="location" width="150" height="150">
      <h2>Proximity</h2>
      <p>Our shelther pool locate in over U.S states, and it could closer to your home</p>
          </div>
  </div>
</div>

<div class ="features">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">What We Do </h2>
      <p class="lead">We inspire potential dog owners to share themselves authentically and to pursue genuine adoption
        by providing experience that goes beyond visitation to adoption centers.</p>
    </div>
    <div class="col-md-5">
      <video width="400" controls>
        <source src="/assets/videos/dogtrip.mp4" type="video/mp4">
      </video>
    </div>
  </div>


  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading"> How Does It Work</h2>
      <p class="lead">Our alogrithm narrows the field from thousands of prospects to match you with a select group of compatible matches </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Wagmate Profiles </h2>
      <p class="lead">With many registered shelthers, our pool of wag base is very diverse. Our matches come with profile descriptions</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

</div>

</div>

<footer class="container">
  <p class="float-right"><a href="/home">Back to top</a></p>
  <p>&copy; 2017-2018 WagMate. &middot; <a href="#">Privacy & Term </a>
</footer>


