<header>
  <div class="topnav">
    <img src='/assets/images/WagMatchLogoSmall.jpg'>
    <!-- <button mat-stroked-button (click)="login()">Login</button> -->
    <a href="/about">About</a>
   <a href="/contact">Contact</a>
<a href="/login">Login</a>
  </div>

</header>

<div class="banner">
  <div class="banner-text">
    <h2> Rediscover Matching</h2>
    <h4> Make authentic adoption with WagMatch</h4>
    <button mat-button (click)="join()">Find Your Wag Mate</button>
  </div>
</div>

<div class="content">
  <div id="mission">
    <div id="work">
      <h1>What We Do</h1>
      <h3>We inspire potential dog owners to share themselves authentically and to pursue genuine adoption
        by providing experience that goes beyond visitation to adoption centers. </h3>
      <!-- <h1>Real Connection</h1>
  // <h3>Every week people find their wag mate through wag match</h3>-->
    </div>

    <div id="video">
      <video width="300" controls>
        <source src="/assets/videos/dogtrip.mp4" type="video/mp4">
      </video>
    </div>


    <div class="info">
      <h1>Contact Us</h1>
      <h3>Technical issues, suggestions or other inquires? Contact Us</h3>
    </div>
  </div>
